.App {
  text-align: center;
  margin: auto;
}

.Game-Container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  background-color: #dddddd;;
  border: 1px solid #dddddd;;
  border-radius: 3px;
  padding: 5px;
}

.easy-grid-container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(10, minmax(1em, 5em));  
  grid-auto-rows: 5em;
}

.hard-grid-container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(18, minmax(1em, 3em));  
  grid-auto-rows: 3em;
}

.grid-cell-count {
  padding: 30% 0px;
}

.grid-cell-hidden {
  background-color: rgba(10, 184, 30, 0.7);
}

.grid-cell-shown {
  background-color: rgba(10, 184, 30, 0.4);
}

.grid-cell-marked {
  background-color: rgba(10, 184, 30, 0.7);
}

.game-header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;  
}

.game-header-difficulty {
  margin-bottom: auto;
  height: 100%;
}

.game-header-difficulty-dropdown {
  height: 100%;
  margin-bottom: auto;
}

.game-header-flags {
  padding: 2px;
}

.game-header-time {
  padding: 2px;
}

.end-game {
  height: 100%;
  width: 800px;
  margin: auto;
}

@media screen and (orientation:portrait) { 
  .App {width: 100%;}
}
@media screen and (orientation:landscape) {
  .App {max-width: 800px;}
}